.bignums {
    margin-bottom: 20px;
    font-size: 40px;
    text-align: center;
}

.bignums span.desc {
    font-size: 14px;
    display: block;
}

#loading {
    display: none;
    width: 85%;
    margin: 30px auto;
    font-size: 30px;
    text-align: center;
    color: #999;
}

#report {
    display: none;
}

#report .progress {
    margin-top: 30px;
}

#header {
    background-size: 100%;
    background-position: center;
    padding: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.stroke {
    color: #fff;
    text-shadow: #000 0px 0px 5px;
    -webkit-font-smoothing: antialiased;
}

.comment {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    margin: 0px 0px 15px 0px;
}

.comment h4 {
    margin: 0px 0px 10px 0px;
    padding: 0px 0px 10px 0px;
    border-bottom: 1px solid #ccc;
}

.comment p {
    font-family: monospace;
}

.form-group {
    display: inline;
}